<mat-toolbar color="primary">
  <a aria-label="go to home page" routerLink=".">ClickMan</a>
  <div style="flex: 1"></div>
  <a
    mat-icon-button
    target="_blank"
    href="https://github.com/wikylyu-xyz/clickman"
    aria-label="go to clickman github repo"
  >
    <img
      src="../../../assets/images/github-mark-white.png"
      width="36px"
      height="36px"
    />
  </a>
  <a aria-label="go to about page" routerLink="/about">About</a>
</mat-toolbar>

<div class="container">
  <h1>ClickMan</h1>
  <h4>Chrome Extension</h4>
  <img
    src="../../../assets/images/icon.png"
    width="96"
    height="96"
    alt="clickman icon"
  />

  <p>YouTube doesn't allow AdBlock anymore.</p>
  <p>Don't worry, Click Man is coming.</p>
  <p>
    <b>ClickMan</b> will automatically click YouTube "Skip Ads" Button, when
    it's available.
  </p>
  <p>Shhhhhhhhhhhhhhhhhhhhhhhhh...</p>
  <p>Don't let Google know.</p>
  <img
    src="../../../assets/images/screenshots/1.svg"
    width="500"
    alt="clickman screenshot"
  />

  <div class="download">
    <a
      mat-fab
      extended
      color="primary"
      target="_blank"
      href="https://google.com"
    >
      <mat-icon>download</mat-icon>
      Download
    </a>
  </div>
</div>
